body{
  margin: 0;
  padding: 0;
}

#hero{
  background: url('https://scontent.xx.fbcdn.net/t31.0-8/11021355_898653110155763_923150969851337795_o.jpg');
  height: 300px;
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: 40%;
}
.header{
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 150%;
  width: 570px
}
.byline{
  font-style: italic;
  color:grey;
}
ul{
  float: right;
  position: relative;
  top: 30px;
  right:370px;
  width:500px;
  list-style: none;
}
li{
  padding: 12px;
}
ol{
  float:left;
  position: relative;
  top:30px;
  left:150px;
  list-style: none;
  width: 200px;
}
.TIY{
  font-family: sans-serif;
  font-weight: bold;
}
.Updates{
  color:grey;
}
